# READ README.md BEFORE DOING THIS


#________COMPULSORY____________#

TG_BOT_TOKEN = "5131496832:AAGPVB04wuZjJUAXZpWvtkib02UjdQGbl8w"  # ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
APP_ID = 8460989
API_HASH = "a7bfed737cd0c149f7c53a64d716a6e0"
OWNER_ID = 1952992043 
AUTH_CHANNEL = "-1001545437562 -1001517513890" #Add IDs separated by a SPACE (Like :: -10012503747 -10012586941 539295917)


#________NOT COMPULSORY____________#

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech-Gdrive"
INDEX_LINK = "https://tmacollections.backupking.workers.dev/0:/"
PHPSESSID = "5kghviil9imdmlkqj27o6fv8al"
CRYPT = "ajNraDRSVlhmcmRsdGpNbGtGRUhvczdYYVp3Rm41QXVEN0dsVzZJcjRpMD0%3D"
EMAIL = "tmaadda@gmail.com"
PWSSD = "Tmaadda2252@"
CLONE_LOACTION = "1Zxl84FZQYpm-bfh3Pufv96ZnJX0ITUel"
# OTHERS ::
DEF_THUMB_NAIL_VID_S = ""
ARIA_TWO_STARTED_PORT = "6800"
EDIT_SLEEP_TIME_OUT = "15"
MAX_TIME_TO_WAIT_FOR_TORRENTS_TO_START = 600
MAX_TG_SPLIT_FILE_SIZE = "2097152000"

FINISHED_PROGRESS_STR = ""
UN_FINISHED_PROGRESS_STR = ""

CUSTOM_FILE_NAME = ""

UPLOAD_AS_DOC = "True"

# Commands Customization (Completely Optional)
# If you want to change
LEECH_COMMAND = "leech@TMALeeecherBot"
YTDL_COMMAND = "ytdl@TMALeeecherBot"
GYTDL_COMMAND = "gytdl@TMALeeecherBot"
GLEECH_COMMAND = "gleech@TMALeeecherBot"
TELEGRAM_LEECH_COMMAND = "tgleech@TMALeeecherBot"
TELEGRAM_LEECH_UNZIP_COMMAND = "tgleechunzip@TMALeeecherBot"
PYTDL_COMMAND = "pytdl@TMALeeecherBot"
CLONE_COMMAND_G = "gclone@TMALeeecherBot"
UPLOAD_COMMAND = "upload@TMALeeecherBot"
RENEWME_COMMAND = "rename@TMALeeecherBot"
SAVE_THUMBNAIL = "savethumbnail@TMALeeecherBot"
CLEAR_THUMBNAIL = "delete@TMALeeecherBot"
GET_SIZE_G = "gsize@TMALeeecherBot"
